.main {
  padding: 10px;
  width: 100vw;
  height: 100dvh;
}

.main .layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.main .layout h3 {
  text-align: center;
  font-size: x-large;
}
.main .layout h3 span {
  color: #ffefc7;
}

.main .layout .menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}

.menu a {
  border: 1px solid #ffefc7;
  padding: 10px;
  border-radius: 50px;
}
